body {
  background-image: url('../public/img.jpg');
  object-fit: cover;
  background-size: cover;
  background-repeat:no-repeat;
  position: relative;
  z-index: -1;


}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', */
    /* monospace; */
}
